.background {
    background-color: pink;
}

p {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

h2 {
    text-align: center;
}

.div-h {
    padding: 10px;
}

.div-h header {
    height: 50px;
    text-align: center;
    background-color: turquoise;
    color: white;
}

.div-a {
    display: flex; 
    padding: 0 10px 0;
}

aside {
    width: 300px;
    height: 500px;
    background-color: mediumturquoise;
    color: white;
}

.div-a article {
    width: 1000px;
    height: 500px;
    background-color: tomato;
    color: white;
    margin-left: 15px;
}

.persija {
    flex-grow: 1;
    width: 310px; 
    height: 350px; 
    align-self: flex-end; 
    background-color: lightgray; 
    margin: 10px;
    align-self: flex-end;
}

.div-f {
    padding: 10px;
}

.div-f footer {
    height: 50px;
    text-align: center;
    background-color: turquoise;
    color: white;
}